.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==COMPONENTS===*/
.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188CE8;
  color: #ffffff;
}

.head-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.foot-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .foot-logo {
    align-self: center;
  }
}

.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav,
.adress-list,
.nav,
.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav,
  .adress-list {
    display: none;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.adress-list {
  margin-left: auto;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: '';
  background-color: #2196f3;
  bottom: -0.5px;
  left: 0;
}

.adress-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.adress-link:hover, .adress-link:focus {
  color: #2196f3;
}

.adress-link-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-link-item:not(:last-child) {
    margin: 0;
  }
}

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .adress-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .adress-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 0;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*===HEADER===*/
.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding: 16px 0;
    position: relative;
  }
}

.menu-open {
  position: absolute;
  top: 22px;
  right: 22px;
  size: 40px 40px;
  background-color: transparent;
}

/*=====mobile-menu===*/
.mobile-menu-button,
.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-close-btn {
  padding: 11px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  max-height: 796px;
  overflow-y: scroll;
  transform: translateY(-100%);
  z-index: 100;
  transition: transform 500ms linear;
}

.mobile-menu.is-open {
  transform: translateY(0%);
}

.mobile-menu-container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 41px;
  padding-right: 41px;
}

.mobile-menu-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mobile-menu-list {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link {
  text-decoration: none;
  color: #212121;
}

.mobile-menu-list__link:hover,
.mobile-menu-list__link:focus {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contact-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-menu__contact-link:hover,
.mobile-menu__contact-link:focus {
  font-size: 40px;
  text-decoration: none;
  color: #2196f3;
}

.mobile-menu__contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196f3;
  font-size: 40px;
}

.mobile-menu__social-list {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
}

.mobile-menu__social-list-item {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu__social-list-item:not(:last-child) {
  border-right: 1px solid #757575;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu__social-list-item-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-list-item-link:hover, .mobile-menu__social-list-item-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

/*===HERO===*/
.section-hero {
  padding: 118px 0;
  background-color: #2f303a;
  background-image: url(../images/hero/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../images/hero/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url(../images/hero/tablet-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../images/hero/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: url(../images/hero/desktop-hero.jpg);
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../images/hero/hero-desktop2x.jpg);
    padding: 200px 0;
  }
}

.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  max-width: 370px;
}

@media screen and (min-width: 1200px) {
  .headline {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.title-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  min-height: 164px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .title-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    min-height: 200px;
  }
}

.hero-button {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*==ADVANTAGES===*/
.section-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.advantage-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.advantage-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
  --flex-item: 1;
}

.advantage-item::before {
  display: inline-block;
  content: "";
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-size: 70px 70px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    --flex-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    --flex-item: 4;
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.advantage-titles {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage-titles {
    text-align: start;
  }
}

.advantage-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*===GALLERY===*/
.section-gallery {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-gallery {
    display: block;
  }
}

.img-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.img-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
}

.img-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*===TEAM===*/
.section-team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.soc-links-list {
  display: inline-flex;
  margin-top: 16px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover, .soc-link:focus {
  background-color: #2196f3;
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}

.soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
    --flex-item:2;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
    --flex-item:4;
  }
}

.team-sub {
  padding-left: auto;
  padding-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-pos {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/*===CLIENTS===*/
.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.clients-item {
  flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
  margin-left: 30px;
  margin-top: 30px;
  --flex-item: 2;
}

@media screen and (min-width: 768px) {
  .clients-item {
    --flex-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    --flex-item: 6;
  }
}

.clients-link {
  color: #AFB1B8;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-icon
.clients-link:focus .clients-icon {
  fill: currentColor;
}

.clients-icon {
  display: inline-block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===FOOTER===*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .logo-adress {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .logo-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-adress {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    align-items: baseline;
    align-items: flex-start;
  }
}

.flex-half {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .flex-half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .flex-half {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .flex-half {
    align-items: baseline;
    flex-basis: calc((100% - 30px) / 2);
    justify-content: space-between;
  }
}

.map-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
}

.footer-soc-title {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .footer-soc-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-soc-links {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-soc-links {
    flex-basis: calc((100% - 30px) / 2);
    flex-direction: column;
    align-items: center;
  }
}

.soc-links-list-foot {
  display: inline-flex;
}

.soc-link-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-foot {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-item-foot:not(:last-child) {
  margin-right: 10px;
}

.soc-link-foot:hover,
.soc-link-foot:focus {
  background-color: #2196f3;
}

.soc-link-foot:hover .soc-icon,
.soc-link-foot:focus .soc-icon {
  fill: #ffffff;
}

.footer-form-sect {
  font-size: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer-form-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-sect {
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: calc((100% - 30px) / 2);
    padding-top: 12px;
    font-size: 0;
    flex-basis: calc((100% - 30px) / 2);
    align-items: baseline;
  }
}

.footer-form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-email-form {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-email-form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-email-form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
  }
}

.email-footer {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 100%;
  max-width: 450px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-footer:focus, .email-footer:hover {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.email-submit-btn {
  position: relative;
  padding-right: 59px;
  margin-top: 20px;
  margin-left: 12px;
}

@media screen and (min-width: 1200px) {
  .email-submit-btn {
    margin-top: 0;
  }
}

.email-submit-btn:after {
  content: "";
  background-image: url(../images/send-form.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 28px;
}

/*===PORTFOLIO===*/
.title-port {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.filter-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #2196f3;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.fltr-btn-item {
  display: inline-block;
  justify-content: center;
}

.fltr-btn-item:not(:first-child) {
  margin-left: 6px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.port-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
  --flex-item: 1;
}

@media screen and (min-width: 768px) {
  .port-item {
    --flex-item:2;
  }
}

@media screen and (min-width: 1200px) {
  .port-item {
    --flex-item:3;
  }
}

.port-link {
  height: 100%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .port-link {
    display: flex;
    flex-direction: column;
  }
}

.port-link:hover .port-overlay,
.port-link:focus .port-overlay {
  transform: translateY(0%);
}

.port-link:hover, .port-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-sub {
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .port-sub {
    flex-grow: 1;
  }
}

.text-port {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.card-fix {
  position: relative;
  overflow: hidden;
}

.port-overlay {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*===BACKDROP-MODAL===*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg);
}

.modal {
  width: 528px;
  max-height: 96vh;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
  }
}

.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn-close-modal:hover .close-cross,
.btn-close-modal:focus .close-cross {
  fill: #2196f3;
}

.modal-headline {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal-headline {
    line-height: 1.5;
  }
}

.form-modal-all {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field-content {
  position: relative;
  margin-top: 6px;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus:not(:placeholder-shown):invalid {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-icons {
  position: absolute;
  left: 12px;
  top: 11px;
  fill: #212121;
}

.modal-form-input:focus + .modal-form-icons {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  margin-top: 6px;
  width: 100%;
  resize: none;
  height: 120px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-check-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 12px;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .modal-form-check-label {
    line-height: 1.67;
    font-size: 11px;
  }
}

.policy-link {
  color: #2196f3;
}

.checkbox-wrap {
  display: block;
  margin-top: 9px;
  position: relative;
  height: 24px;
}

.modal-form-check-label::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #303030;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-label::before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: contain;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:focus + .modal-form-check-label::before {
  outline: none;
  border-color: #2196f3;
}

.modal-form-check:focus + .modal-form-check-label::before:focus + .modal-form-icons {
  fill: #2196f3;
}

.form-button {
  margin-top: 25px;
  display: inline-block;
  width: 200px;
  height: 50px;
  align-self: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */