.section-advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.advantage-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}
.advantage-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
  --flex-item: 1;

  &::before {
    display: inline-block;
    content: "";
    height: 120px;
    width: 100%;
    border-radius: 4px;
    background-size: 70px 70px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
    --flex-item: 2;
  }
  @media screen and(min-width:1200px) {
    --flex-item: 4;
  }
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.advantage-titles {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $textcolor;
  display: block;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.advantage-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $adresscolor;
}
