.section-clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
  }
  .clients-list{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .clients-item{
  flex-basis: calc((100% - 30px * var(--flex-item)) / var(--flex-item));
  margin-left: 30px;
  margin-top: 30px;
  --flex-item: 2;


  @media screen and(min-width:768px) {
--flex-item: 3;
  }
@media screen and(min-width:1200px) {
  --flex-item: 6;
  }}

  .clients-link{
    color:#AFB1B8;
    display: flex;
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    color: $accentcolor;
    border: 1px solid $accentcolor;
  }
  &:hover .clients-icon
  &:focus .clients-icon{
    fill: currentColor;
  }
  }
  
  .clients-icon{
    display: inline-block;
    fill: currentColor;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 